<!DOCTYPE html>
<html lang="ja">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block header_scripts_add %}{% endblock %}
    <!-- BootStrap3 -->
    <style>
        .box {
            max-width: 800px;
            margin: 0 auto;
        }

        .list-unstyled {
            line-height: 2;
        }

        .mb10 {
            margin: 0 0 10px 0;
        }
        body {
            font-size: .875rem;
        }

        .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
        }
        #content{
            margin-left: 220px;
        }
        /*
        * サイドバー
        */

        nav.sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 200px;
        z-index: 100; /* ナビゲーションバーの背面 */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        }

        .sidebar-sticky {
        position: relative;
        top: 0;
        height:100vh;
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* ビューポートがコンテンツより短い場合、スクロール可能なコンテンツ */
        }

        @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
        }
        }

        .sidebar .nav-link {
        font-weight: 500;
        color: #333;
        }

        .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
        }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
        color: inherit;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/litera.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body role="document">
<div class="container-fluid">
    <div class="row">
{#メニューをセットします#}
    {% include 'menu/menu.twig' %}
        {# メインコンテンツを配置します#}
        <div id="content">
            {% block page_content %}{% endblock %}
        </div>
    </div>
</div>
<!-- BootStrap3 -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{# 追加でスクリプトがほしいときにぶっこまれます #}
{% block footer_scripts_add %}{% endblock %}
{# フッタを表示します #}
{% include 'layout/footer.twig' %}
</body>
</html>
