{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

 {#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}遺言書{% endblock %}

 {# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

 {#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="how-to-write-will">
                    <br>
                    <h3 class="text-primary">〜遺言書の書き方〜</h3><br>

                    <div class="explanation">
                        <h5>遺言書とは...</h5>
                        <p>残された相続人同士が揉めないように、被相続人（亡くなった方）が最後の思いを書面に残すものすなわち、お手紙のようなものです。</p>
                        <p>主に</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
