{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

 {#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}遺言書{% endblock %}

 {# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

 {#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-sm-12">
                <div class="how-to-write-will">
                    <br>
                    <h3 class="text-primary">〜遺言書の書き方〜</h3><br>

    <div class = "explanation">
      <h5>まず遺言書とは...</h5>
      <p>残された相続人同士が揉めないように、被相続人（亡くなった方）が最後の思いを書面に残すものすなわち、お手紙のようなものです。</p>
      <p>遺言方法には自筆証書遺言、公正証書遺言、秘密証書遺言の三種類があります。</p><br>

      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><p>1.自筆証書遺言...自分で紙に書き記す遺言書のことです。最低限の紙、ペンと印鑑だけでもあれば、誰でも気軽に作成が可能で費用もかからないのです。
                            ただし、書き間違えや遺言内容が曖昧で遺言書として無効になってしまったということがとても多いので注意が必要です。</p>
          </li>

          <li class="list-group-item"><p>2.公正証書遺言...遺言書を公正証書にしたもので、公証役場で作成します。
                                  公証人（公証役場にいる人）が、法律の規定どおりに公正証書として書類を作成するので、確実に有効な遺言書を残したいときや相続財産の金額が大きい時に主に利用されています。</p>
          </li>

          <li class="list-group-item"><p>3.秘密証書遺言...公正証書遺言と同じく公証役場で作成手続きをしますが、遺言内容は公証人に知られずに作成できるので、絶対に亡くなるまでは秘密を守りたい、誰にも内容を知られたくない、という場合に利用されています。</p>
        </li>

        </ul>
      </div>
    </div><br>

     <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>注意<i class="fa fa-exclamation-triangle" aria-hidden="true"></i></p>
     <p>家庭裁判所に行って検認手続きを行なわなければ過料に課される可能性があるため、公正証書遺言以外の遺言書は、開封をすぐにしてはいけません！</p><br>




     <table class="table table-bordered">
       <thead>
         <tr>
           <th scope="col"></th>
           <th scope="col">自筆証書遺言</th>
           <th scope="col">公正証書遺言</th>
           <th scope="col">秘密証書遺言</th>
         </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">証人</th>
          <td>不要</td>
          <td>２人必要</td>
          <td>２人必要</td>
        </tr>
        <tr>
          <th scope="row">秘密性</th>
          <td>秘密にできる</td>
          <td>証人に遺言書の内容を知られてしまう</td>
          <td>秘密にできる</td>
        </tr>
        <tr>
          <th scope="row">保管方法</th>
          <td>自分</td>
          <td><ul>
            <li>原本は公証人</li>
            <li>正本は遺言執行者</li>
            <li>謄本は遺言者  ※正本と謄本は遺言者が決めることが可能</li>
          </ul></td>
          <td>自分</td>
        </tr>
        <tr>
          <th scope="row">費用</th>
          <td>０円</td>
          <td>公証人へ数万円程度～十数万円（財産価額による）＋証人への支払い</td>
          <td>公証人へ11000円程度＋証人への支払い</td>
        </tr>
        <tr>
          <th scope="row">家庭裁判所の検印</th>
          <td>必要</td>
          <td>不要</td>
          <td>必要</td>
        </tr>
        <tr>
          <th scope="row">備考</th>
          <td>自分一人で作成できて費用もかからない。<p class="text-danger">ただし、遺言書内容が曖昧だと無効になる可能性があるので注意！</p></td>
          <td>法的に有効な遺言書が作成できる。偽造される恐れがない。遺言書正本等を紛失しても再発行してもらえる。<p class="text-danger">一番オススメ！</p></td>
          <td>ほとんど使われていない。</td>
        </tr>
      </tbody>
    </table><br>

    <h5>書かなければならない内容！</h5>
    <ol>
      <li>全文が遺言者の自筆である</li>
      <li>特定ができる日付が記載されている</li>
      <li>遺言者の署名がされている</li>
      <li>遺言者の押印がされている</li>
    </ol><br>

<p class="text-danger">これらは法律に定められている内容です。一つでもかけると自筆証書遺言の場合は効力を持ちません。。。</p>
</div>





{% endblock %}

 {#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
