{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}マイエンディングノート{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <h3 class="text-info">〜myエンディングノートを書いてみよう〜</h3><br>


        <form method="POST" action="/my_ending_note/">
          <div class="form-group">
            <label for="exampleFormControlTextarea1">人生の歴史</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="my_history"></textarea>
          </div>

          <div class="form-group">
            <label for="inputgoodperson">親族や友人知人</label>
            <input type="text" class="form-control" id="inputgoodperson" placeholder="例：同じ卓球仲間の笹本さん" name="my_friends_relatives">
          </div>

          <div class="form-group">
            <label for="inputcare">財産</label></label>
            <input type="text" class="form-control" id="form-group" placeholder="例：介護施設で同年代の友達を作りたい" name="my_property">
          </div>

          <div class="form-group">
            <i class="fa fa-hospital-o" aria-hidden="true"></i>
            <label for="inputcare">終末期の介護や医療に関する要望</label>
            <input type="text" class="form-control" id="form-group" placeholder="例：介護施設で同年代の友達を作りたい" name="my_desire">
          </div>

          <div class="form-group">
            <label for="inputfuneral">葬儀に関する要望</label>
            <input type="text" class="form-control" id="form-group" placeholder="例：お金がかかるので身内だけの規模の小さい式がいい" name="my_funeral">
          </div>

          <div class="form-group">
            <label for="inputcare">その他</label>
            <input type="text" class="form-control" id="form-group" placeholder="例：介護施設で同年代の友達を作りたい" name="my_omment">
          </div>

          <!-- <div class="form-group">
            <div class="form-check">
              <select name="is_public">
                <option value="0">
                  非公開
                </option>
                <option value="1">
                  公開
                </option>
              </select>
            </div>
          </div> -->

          <div class="form-group">
            <label for="exampleFormControlSelect1">Example select</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>0</option>
              <option>1</option>

            </select>
          </div>

          <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
