<nav class="navbar navbar-expand-lg navbar-light bg-light sidebar">
        <a class="navbar-brand" href="/">終活</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navber">
            <ul class="list-unstyled">
                <li class="nav-item"><a class="nav-link" href="/how-to-write-will">遺言書</a></li>
                <li class="nav-item"><a class="nav-link" href="/graveyard">霊園・墓地検索</a></li>
                <li class="nav-item"><a class="nav-link" href="/funeral-hall">斎場検索</a></li>
                <li class="nav-item"><a class="nav-link" href="/ending-note">エンディングノートの書き方</a></li>
                <hr>
            {% if session.user_info  =="" %}
                <li class="nav-item">
                    <a class="nav-link font-weight-bold btn" href="/register/">会員登録</a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold btn" href="/login/">ログイン</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/my_ending_note_list/">マイエンディングノート一覧</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-secondary" href="/logout/">ログアウト</a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold btn btn-outline-info" href="/mypage">
                        {{ session.user_info.name }}さん
                    </a>
                </li>
            {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
</nav>
