{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}{{ result.name }}墓石{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
    <div class="container">
        <br>
        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="inlineFormInput" class="sr-only">斎場名</label>
            <input type="text" class="form-control" id="inlineFormInput" placeholder="斎場名" name = "name">
          </div>
          <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search" aria-hidden="true"></i>検索</button>
        </form>

        <form class="form-inline">
          <div class="form-group mx-sm-3 mb-2">
            <label for="inlineFormInput" class="sr-only">住所</label>
            <input type="text" class="form-control" id="inlineFormInput" placeholder="住所" name = "adress">
          </div>
          <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search" aria-hidden="true"></i>検索</button>
        </form><br>
    </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
